*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    position: relative;

}

nav{
    background-color: #2d4c50;
    box-shadow: 0 7px 10px rgba(0,0,0,0.3);
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.3rem 0;
    
}

.navbar .logo{
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    font-size: 2.2rem;

}

#search-input{
    max-width: 400px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    color: #333;

}

#search-button{
    padding: 10px 20px;
    background-color: #138065;
    color: #fff;
    border: none;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    margin-left: 10px;
}